body {
  padding-top: 56px;
  background-color: #fafafa;
  margin-top: 1rem;
}
.bg-dark_purple {
  background-color: #301934;
}

.site-header .navbar-nav {
  background-color: #301934;
  color: #cbd5db;
}
#welcome {
  color: white;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
