body {
  padding-top: 56px;
  background-color: #fafafa;
  margin-top: 5rem;
  font-size: 1em;
}
.bg-dark_purple {
  background-color: #301934;
}

.site-header .navbar-nav {
  background-color: #301934;
  color: #cbd5db;
}
#welcome {
  color: white;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
}

.account-img {
  height: 70px;
  width: 70px;
  margin-right: 20px;
  vertical-align: middle;
}
.small-image {
  height: 32px;
  width: 32px;
  margin-right: 20px;
  vertical-align: middle;

}