<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chikinita.com</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" 
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark_purple fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Chikinita.com</a>

        {% if current_user.is_anonymous %}
        <ul class="navbar-nav">
          <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login <span class="sr-only">(current)</span></a>
                </li>
        {% else %}
        <!-- Login Name 
          <li id="welcome" class="nav-item mr-auto">Hello, {{ current_user.username.title() }}</li>
        -->
          <li class="nav-item nav-link"> 
                <a id="welcome" href="{{ url_for('user', username=current_user.username) }}">Logout <span class="sr-only">Profile</span></a>   
                </li>
          <li class="nav-item nav-link"> 
            <a id="welcome" href="{{ url_for('logout') }}">Logout <span class="sr-only">(current)</span></a>   
            </li>
        {% endif %}  
            </ul>   
      </nav>
        

  <!-- Page Content -->
  <main role="main" class="container"></main>
    
  <!-- Python Messages -->
  <div id="page-content-wrapper">
    <div class="container-fluid"">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      {% endwith %}

<!-- Other templates get inserted here-->

  {% block content %}
      
      
  {% endblock %}

    </div>
    </div>
        <!-- /#wrapper -->
    
      <!-- Bootstrap core JavaScript -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    

      <!-- Menu Toggle Script -->
      <script>
        $("#menu-toggle").click(function(e) {e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      </script>
    </body>
    
    </html>