<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chikinita.com</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" 
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark_purple fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Chikinita.com</a>

        {% if current_user.is_anonymous %}
       
        {% else %}
        <!-- Dropdown -->
          <div class="dropdown">

            <button type="button" class="btn dropdown-toggle btn-sm btn-outline-dark" data-toggle="dropdown">
            <img class="rounded-circle small-image img-fluid"
            src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
            <span class="sr-only">(current)</span></button>
          
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item"><small class="text-muted">@</small>{{ current_user.username }}</div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('index') }}">Home</a>
            <a class="dropdown-item" href="{{ url_for('user', username=current_user) }}">Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout <span class="sr-only">(current)</span></a>   
            
          </div>
          </div>
        {% endif %}  
            </ul>   
      </nav>
        

  <!-- Page Content -->
  <main role="main" class="container"></main>
    
  <!-- Python Messages -->
  
<div class="container container-flex">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="container-fluid col-sm-6 col-md-offset-1">
                <div class="alert alert-{{ category }} alert-dismissible fade show" 
                role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                </div>
            {% endfor %}
        {% endif %}
      {% endwith %}

<!-- Other templates get inserted here-->

  {% block content %}
      
  {% endblock %}
</div>
    
        <!-- /#wrapper -->
    
      <!-- Bootstrap core JavaScript -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    

      <!-- Menu Toggle Script -->
      <script>
        $("#menu-toggle").click(function(e) {e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      </script>
    </body>
    
    </html>