<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chikinita.com</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" 
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <!-- Sidebar-Notes Make sure to keep all page content within the #page-content-wrapper. 
    The top navbar is optional, and just for demonstration. Just create an element with the 
    #menu-toggle ID which will toggle the menu when clicked. -->
    <div class="bg-dark text-muted border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Chikinita.com</div>
      <div class="list-group list-group-flush">
        <a href="{{ url_for('index') }}" class="list-group-item list-group-item-action bg-dark text-muted">Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-muted">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-muted">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-muted">Account</a>
        <a href="{{ url_for('new_bug') }}" class="list-group-item list-group-item-action bg-dark text-muted"> New Bug</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
   
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-muted" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
        <h3 class="mt-2">Bug - Issue Tracker</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {% if current_user.is_anonymous %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('login') }}">Login <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item">Hello, {{ current_user.username }}!</li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    
      <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                  {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>

</html>
