{% extends "base.html" %} {% block content %}

<div class="container">
<div>
  <h3>Bugs
  <a class="bt btn-info btn-sm float-right mt-1 mb-1" href="{{ url_for('new_bug') }}">New Bug</a></h3>
</div>
  <table class="table table-hover mt-3">
    <thead class="table">
        <tr>
          <th>ID</th>
          <th>Subject</th>
          <th>Created</th>
          <th>Priority</th>
          <th>Progress</th>
        </tr>
      </thead>
        {% for t in track %}
          {% if t.author == current_user %}
          <tbody>
            <tr>
              <td>
                {{ t.id }}
              </td>
              <td>
                <a class="article-title" href="{{ url_for('bug', track_id=t.id) }}"
                  >{{ t.subject.title() }}</a
                >
              </td>
              <td>
                <small class="text-muted"
                  >{{ t.date_created.strftime('%Y-%m-%d') }}</small
                >
              </td>
              <td>
                {{ t.priority }}
              </td>
              <td>
                {{ t.progress }}
              
            {% endif %}

            {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
