{% extends "base.html"%}
{% block content %}
<div class="row">
<div class="container w-25 p-3 col-4 text-muted">
<h4>Chikinita.com</h4>
<p>
Chikinita.com offers a free, open source bug tracking application for your development needs.
Currently it does not support collaboration.</p>
<ul>
<li><a href="mailto:miguel.chikinita@gmail.com" target="_blank" rel="noopener noreferrer">Support</a></li>
<li><a href="https://gitlab.com/miguelpengson/flask_bug_tracker" target="_blank" rel="noopener noreferrer">GitLab</a></li>
</ul>
</div>
<div class="container-md col-8">
<div class="form-group text-center content-section">
    <h1>Sign In</h1>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=25) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=25) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <div class="form-group">
    {{ form.submit() }}
    <small class="text-muted ml-2">
        <a href="{{ url_for('auth.reset_request') }}">Forgot Password?</a>
    </small>
    </div>
</form>
    <small>New User? <a href="{{ url_for('auth.register') }}"> Please Register!</a></small>
</div>
</div>
</div>
{% endblock content%}

